//Importando modulos o directorios :3

/*
En este apartado simplemente tenemos como ejemplo un modulo que contiene las 
especificaciones de centrado, para los textos principales
*/

body{
    h1{
        text-align: center;
    }
    p{
        text-align: center;
        text-align: justify;
        margin: auto 50px;
    }
}


.box{
    h2{
        text-align: center;
    }
    p{
        text-align: center;
    }
}
